<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.s23010409.parknow">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Feature declaration for Accelerometer (optional but good practice) -->
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="Park Now"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ParkNow">

        <!--  Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBjqwkoqrtXGSyOqKrPHu9_7291h6M2V2c" />

        <!--  Launcher Activity -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other Activities -->
        <activity android:name=".LoginActivity" android:exported="false" />
        <activity android:name=".SignupActivity" android:exported="false" />
        <activity android:name=".HomeActivity" android:exported="false" />
        <activity android:name=".ParkingDetailsActivity" android:exported="false" />
        <activity android:name=".ReserveSpotActivity" android:exported="false" />
        <activity android:name=".MyReservationsActivity" android:exported="false" />
        <activity android:name=".UserProfileActivity" android:exported="false" />
        <activity android:name=".EditProfileActivity" android:exported="false" />
        <activity android:name=".SettingsActivity" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="false" />
        <activity android:name=".AboutUsActivity" android:exported="false" />
        <activity android:name=".AccelerometerTestActivity" android:exported="false" />
        <activity android:name=".FavoriteSpotsActivity" android:exported="false" />
        <activity android:name=".FeedbackActivity" android:exported="false" />
        <activity android:name=".PaymentActivity" android:exported="false" />

    </application>

</manifest>
